<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Customizable Search Engine</title>
    </head>
    <body>
        <h1>Welcome to Customizable Search Result</h1>
        <form action="/search/google/">
            <label for="query">Search Query:</label><br>
            <input type="text" id="query" name="query"><br>
            <input type="text" id="limit" name="limit"><br>
            <input type="submit" value="search">
        </form>
    </body>
</html>